
        body {
            text-align: center;
            color: black;
            background-color: lightblue;
            
        }
        h1 {
            text-align: center;
            color: black;
            background-color: lightblue;
            
        }
        p {
            text-align: center;
            color: black;
            background-color: lightblue;
        }